#root
.vs


#aliddns
aliddns_cpp/x64
AliddnsLib/x64
aliddns_cpp/.vs
AliddnsLib/.vs
curl-src/curl-8.2.1-build/lib/Debug
curl-src/curl-8.2.1-build/lib/libcurl.dir
curl-src/curl-8.2.1-build/src/curl.dir
curl-src/curl-8.2.1-build/src/Debug
curl-src/curl-8.2.1-build/x64
curl-src/curl-8.2.1-build/install_manifest.txt
curl-src/curl-8.2.1-build/lib/Release
curl-src/curl-8.2.1-build/src/Release
jsoncpp-src/jsoncpp-1.9.5-build/.vs
jsoncpp-src/jsoncpp-1.9.5-build/bin
jsoncpp-src/jsoncpp-1.9.5-build/lib
jsoncpp-src/jsoncpp-1.9.5-build/x64
jsoncpp-src/jsoncpp-1.9.5-build/src/lib_json/jsoncpp_object.dir
jsoncpp-src/jsoncpp-1.9.5-build/src/lib_json/jsoncpp_static.dir
jsoncpp-src/jsoncpp-1.9.5-build/src/test_lib_json/jsoncpp_test.dir
jsoncpp-src/jsoncpp-1.9.5-build/src/jsontestrunner/jsontestrunner_exe.dir
.vs
x64
jsoncpp-src/jsoncpp-1.9.5-build/src/lib_json/x64

#more

/.idea
